body{
    font-family: 'Roboto', sans-serif
 
}
.navbar{
    background-color: rgb(245, 130, 81);

}
#cabecalho .nav .nav-link.active{
    background-color: aliceblue;
    color: coral;
    
    
}
#cabecalho.nav .nav-link,.navbar-brand{
    color: aliceblue;
    
}

.navbar-toggler{
    background-color: aliceblue;
}
.section-title{
    font-family: 'Pangolin', cursive;
}

#sobre-restaurante{
    background-color:rgb(253, 236, 215);
}
.text-colored{
    color: rgb(237, 96, 20);
}
.nav-cardapio .nav-link.active{
    background-color:  rgb(237, 96, 20);
    color: rgb(249, 248, 248)
    

}
.nav-cardapio .nav-link:hover{
   
    color:red;

}
#cardapio{
    background-color: rgb(249, 232, 235);
}
.social-links li{
    list-style: none;
    display: inline;
   
}
.social-links a {
    text-decoration: none;

}
#fale-conosco .btn{
    background-color: orange;

}
#fale-conosco .btn:hover{
    background-color: rgb(21, 233, 49);
    color: aliceblue;
    border-radius: 15px;

}
@media(max-width: 767px){
    .carousel-item img{
        height: 310px;
    }


}